{% extends "personal/header.html" %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<img style='height: 100%; width: 100%; object-fit: contain'/>
{% block content %}
<div>
	<center>
		<a href="http://cooltext.com"><img src="http://images.cooltext.com/4653930.png" width="652" height="106" alt="Panda and Co." /></a>

<br />Image by <a href="http://cooltext.com">Cool Text: Free Graphics Generator</a> - <a href="http://cooltext.com/Edit-Logo?LogoID=1768352765">Edit Image</a>
</div>

<body>
	<center>
	<div id="map"></div>
	<iframe src="https://www.google.com/maps/d/u/1/embed?mid=zTkV-GwmgcHs.kwWjGojZF8-E" width="90%" height="500"></iframe>
</body>
{% include "personal/includes/htmlsnippet.html" %}
<a href="../conservation.html">Panda Conservation</a>
<a href="../personalityquiz.html">Personality Quiz</a>
{% endblock %}
