<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<img style='height: 100%; width: 100%; object-fit: contain'/>

{% block content %}
<div id="header" style="border-style:outset;color:grey;">
	<center>
    <a href="http://www.gifmix.net/gifs/" target="_blank" title="Gifs"><img src="http://www.gifmix.net/gifs/panda-gifs/PANDA02.GIF" border="0" alt="Gifs" style="=width:100%" height="100%"></a>
		<a><img src="http://images.cooltext.com/4653930.png" style="=width:100%" height="100%" alt="Panda and Co." /></a>
    <a href="http://www.gifmix.net/gifs/" target="_blank" title="Gifs"><img src="http://www.gifmix.net/gifs/panda-gifs/PANDA02.GIF" border="0" alt="Gifs" style="=width:100%" height="100%"></a>
</div>

<body>
  <centre>
<div>
  This is where the quiz will go.
</div>

{% include "personal/includes/backhome.html" %}
</body>
 {% endblock %}
